
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: var(--font-inter), sans-serif;
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;

    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;

    --primary: 36 98% 54%;
    --primary-foreground: 0 0% 98%;

    --secondary: 40 10% 96%;
    --secondary-foreground: 240 10% 3.9%;

    --muted: 40 10% 96%;
    --muted-foreground: 240 5% 40%;

    --accent: 40 100% 97%;
    --accent-foreground: 36 98% 54%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 40 5.9% 90%;
    --input: 40 5.9% 90%;
    --ring: 36 98% 54%;

    --radius: 0.5rem;

    --sidebar-background: 235 24% 12%;
    --sidebar-foreground: 240 5% 64.9%;
    --sidebar-primary: 0 0% 98%;
    --sidebar-primary-foreground: 231 48% 48%;
    --sidebar-accent: 231 48% 48%;
    --sidebar-accent-foreground: 0 0% 98%;
    --sidebar-border: 240 3.7% 20%;
    --sidebar-ring: 231 48% 48%;
  }

  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;

    --card: 240 3.7% 15.9%;
    --card-foreground: 0 0% 98%;

    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;

    --primary: 36 98% 54%;
    --primary-foreground: 0 0% 98%;

    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;

    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;

    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 36 98% 54%;

    --sidebar-background: 235 24% 12%;
    --sidebar-foreground: 240 5% 64.9%;
    --sidebar-primary: 0 0% 98%;
    --sidebar-primary-foreground: 231 48% 48%;
    --sidebar-accent: 231 48% 48%;
    --sidebar-accent-foreground: 0 0% 98%;
    --sidebar-border: 240 3.7% 20%;
    --sidebar-ring: 231 48% 48%;
  }
}


@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer components {
  .card-hover {
    @apply transition-all duration-300 ease-in-out;
  }
  .card-hover:hover {
    @apply transform -translate-y-1 shadow-2xl bg-card/80;
  }
}
